*{
    margin: 0;
    padding: 0;

}
body{
    background-color: #0b0b2c;
    display: flex;
    place-items: center;
    min-height: 100vh;

}
main{
    background-color: #0b0b2c;
    display: grid;
    width:910px;
    height: 554px;
    grid-template-areas:
    'A A B'
    'C D D'
    'C E E'
     ;
    grid-template-columns: 45% 20% 35%;
    grid-template-rows: 1fr 0.4fr 0.6fr;
    gap: 15px;
    margin: auto;
    
    
}
.BoxA{
    background-color:#f13a19 ;
    grid-area: A;
}
.BoxB{
    background-color: #ffae00;
    grid-area: B;
}
.BoxC{
    background-color: #1b9c1b;
    grid-area: C;
}
.BoxD{
    background-color: #00b7ff;
    grid-area: D;
}
.BoxE{
    background-color: #00b7ff;
    grid-area: E;
}
.extra{
    padding: 20px;
    margin: 30px;
    border-radius: 10px;
    color: #0b0b2c;
    font-weight: bolder;
    font-size: 1em;
    border: 3px solid white;
}
@media screen and (max-width: 1000px) {
    main{
        margin: 50px;
        flex-grow: 1;
    }
    .extra{
        flex-grow: 1;
        flex-wrap: nowrap;
        width: 100%;
    }
}